*{
	font-family: 'Pacifico', cursive;
}
body{
	background-image: url(../img/uno-uno.jpg);
	max-width: 100%;
	height: auto;
	padding: 3% 0;
}

section{
	padding: 80px 40px 40px 40px;
	border-radius: 15px;
	background-color: rgba(187, 212, 208, 0.9);
}
button{
	background-color: #a0a0a0;
	color: black;
	border-radius: 3px;
	border-style: none;
	width: 100px;
    height: 40px;
}
.titulo{
    font-size: 1.2rem;
    color: black;
}
